@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300&family=Kanit:ital,wght@1,300&family=Noto+Sans:ital,wght@0,300;0,500;0,600;1,400&family=Poppins:ital,wght@0,200;1,200&family=Raleway:wght@300&family=Roboto&family=Ubuntu+Mono&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 250px;
  align-self: center;
  padding-left: 35px;
}

.title {
  margin-top: 1rem;
  background-color: #4a4e69;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  width: 400px;
  height: 60px;
  border: 3px solid white;
  /* font-weight: 10px; */
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

/* user homepage */
.homepage-container {
  /* background-color: #4a4e699c; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.homepage-container h2 {
  text-align: center;
  line-height: 40px;
  margin-top: 10rem;
  color: #ca867a;
  font-weight: 600;
  background-color: white;
  width: 20em;
  align-self: center;
  border-radius: 8px;
  /* border: 2px solid #4a4e69; */
  font-size: large;
  /* box-shadow: 2px 2px 9px #8e8e8e; */
  padding: 10px;
  font-size: x-large;
}
.homepage-container h2 {
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.372);
    transform: translateY(5px);
    transition: transform 0.5s;
  }
}
.homepage-container .stepper-wrapper {
  margin-top: 5rem;
}
.quick-access h2 {
  font-weight: bold;
  color: #4a4e69;
}
.access-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.access-item {
  flex-basis: 33.3333%;
  background-color: rgb(105, 110, 142);
  box-shadow: 2px 2px 9px #000000b8;
  border-radius: 6px;
  text-align: center;
  padding: 40px;
  width: 12rem;
  height: 12rem;
  margin: 10px;
  color: white;
  cursor: pointer;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.372);
    transform: translateY(5px);
    transition: transform 0.5s;
    font-weight: bold;
  }
}

.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.select-container label {
  margin-bottom: 10px;
  font-size: 1rem;
}
.select-container select {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}
.select-container option {
  padding: 20px;
  text-align: center;
}
.select-container select:focus {
  border: 2px solid #4a4e69a4;
}
.background-carousel {
  margin-top: 2em;
  margin-bottom: 26em;
  position: relative;
}
/* end of user homepage */

/* sinin & signup page */

.sign-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
}
.sign-home-link {
  width: 45px;
  height: 45px;
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
}
.sign-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  width: 500px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 7px #0000007c;
  padding-bottom: 80px;
}
.sign-container h3 {
  margin: auto;
  letter-spacing: 3px;
  padding-top: 10px;
  color: #4a4e69;
  font-size: 1.9rem;
  padding-bottom: 20px;
}

.login-form input[type="text"],
input[type="password"] {
  height: 25px;
  border-radius: 3px;
  border: none;
  width: 350px;
  height: 50px;
  background-color: #9b999922;
  box-sizing: border-box;
  padding-left: 3.6rem;
}
input::placeholder {
  padding-left: 6px;
}
input:focus {
  outline: none;
  border-bottom: 2px solid #22223b;
}
.button-container button {
  margin-top: 40px;
  cursor: pointer;
  font-size: 15px;
  background: #4a4e69;
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  width: 350px;
  height: 50px;
}

.login-form .create-account:hover {
  background-color: #4a4e691a;
}
.button-container button:hover {
  background: #4a4e69da;
}
.button-container {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 12px;
}

label {
  font-size: 14px;
  color: #22223b;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 25px;
  position: relative;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 45%;
  left: 7px;
}
.eye-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 45%;
  right: 6px;
  cursor: pointer;
}
.login-form .forgot-password {
  color: #4819a0;
  text-decoration: underline;
  margin-top: 2rem;
}
.create-account {
  margin-top: 13px;
  cursor: pointer;
  font-size: 15px;
  border: 1.5px solid #4a4e69;
  border-radius: 3px;
  padding: 10px 20px;
  width: 350px;
  height: 50px;
  background-color: #00000000;
}

/* end of signin & signup page */

/* courses page */
.empty-courses {
  max-width: 700px;
  color: #4a4e69;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(122, 128, 165, 0.21);
  display: flex;
  flex-direction: column;
  width: 800px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 90px 40px;
  box-shadow: 1px 1px 15px #00000058;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.372);
    transform: translateY(5px);
    transition: transform 0.5s;
  }
}
.empty-courses p,
h2 {
  line-height: 13px;
  color: #4a4e69d8;
}
.empty-courses h2 {
  position: relative;
  font-size: 38px;
  font-weight: bold;
  color: #4a4e6957;
  mix-blend-mode: multiply;
}
.empty-courses h2::after {
  content: attr(data-text);
  position: absolute;
  top: 6px;
  left: 6px;
  color: #4a4e69;
}
.empty-courses h2::before {
  content: attr(data-text);
  position: absolute;
  top: -6px;
  left: -6px;
  color: #4a4e69b0;
}
.empty-courses .wrapper {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.empty-courses .link_wrapper {
  position: relative;
}

.empty-courses a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: small;
  text-decoration: none;
  background-color: #4a4e69;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #4a4e69;
  transition: all 0.35s;
}

.empty-courses .icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.empty-courses .icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #4a4e69;
  transition: all 0.35s;
}

.empty-courses a:hover {
  width: 200px;
  border: 3px solid #4a4e69;
  background: transparent;
  color: #4a4e69;
}

.empty-courses a:hover + .icon {
  border: 3px solid #4a4e69;
  left: 100%;
}

.courses-container {
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.course-container {
  flex-basis: 33.3333%;
  background-color: white;
  box-shadow: 1px 1px 4px #00000077;
  border-radius: 6px;
  text-align: center;
  padding: 40px;
  width: 20rem;
  height: 90%;
  margin: 10px;
  cursor: pointer;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.372);
    transform: translateY(5px);
    transition: transform 0.5s;
  }
}
.create {
  background-color: #f2e9e4;
  box-shadow: 1px 1px 4px #00000077;
  border-radius: 6px;
  text-align: center;
  padding: 40px;
  width: 20rem;
  height: 15rem;
  margin: 10px;
  cursor: pointer;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.372);
    transform: translateY(5px);
    transition: transform 0.5s;
  }
}
.create h4 {
  color: #4a4e69;
  /* color: #6b6b6b; */
  font-weight: bolder;
  font-size: larger;
}

.x {
  width: 25px;
  height: 25px;
  margin-left: auto;
  cursor: pointer;
}
.modal-content h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #4a4e69e5;
  margin-bottom: 40px;
}
.modal-content {
  text-align: center;
}
.modal-content button {
  align-self: center;
}

/* end of courses page */

/* create quiz page */

.context {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stepper-wrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: -5em;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

input[type="text"] {
  width: 100%;
}
.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #d9d9d9;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #d9d9d9;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d9d9d9;
  margin-bottom: 6px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.541);
}

.active .step-counter {
  background-color: #4a4e69;
  width: 40px;
  height: 40px;
  border: 10px solid #d9d9d9;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #4bb543;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}
.step-name {
  font-weight: lighter;
}
.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
.next,
.previous {
  margin-top: 40px;
  cursor: pointer;
  font-size: 15px;
  background: #4a4e69;
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  width: 6rem;
  height: 45px;
  border-radius: 6%;
  box-shadow: 1px 1px 2px #00000077;
  margin-left: 20px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.step-container {
  margin-top: 10rem;
}
.setup-quiz {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.questions-setup {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.questions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 60px;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 29px;
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #00000077;
  font-size: 0.9rem;
  width: 20rem;
  @media (max-width: 768px) {
    width: 20em;
  }
}
textarea {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #c3c3c3;
  border: none;
  margin-bottom: 1em;
  background-color: #bdbdbd22;
}
textarea:focus {
  outline: none;
  border-bottom: 2px solid #22223b;
}
.question-container input[type="number"] {
  width: 14rem;
  border-radius: 3px;
  border: none;
  height: 40px;
  border-bottom: 1px solid #00000077;

  border-radius: 3px;
  border: none;
  width: 18rem;
  background-color: #9b999922;
  box-sizing: border-box;
  padding-left: 3.6rem;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 9px;
  border: none;
  width: 100%;
}

.question-container input {
  margin-bottom: 1em;
}
.question-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.faPlusCircle {
  margin-bottom: 6px;
  color: #4a4e69;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
  &:hover {
    transform: translateY(5px);
    transform: rotate(90deg);
    transition: transform 0.5s;
    color: #4dbb43;
  }
}
.faMinusCircle {
  color: #4a4e69;
  border-radius: 50%;
  margin-bottom: 5px;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
  &:hover {
    transform: translateY(5px);
    transform: rotate(180deg);
    transition: transform 0.5s;
    color: rgb(191, 7, 7);
  }
}

.setup-quiz h3,
.questions-setup h3 {
  font-size: 1.8rem;
  margin-bottom: 50px;
}
.setup-quiz input[type="text"],
input[type="number"] {
  width: 20rem;
  border-radius: 3px;
  border: none;
  height: 40px;
  border-bottom: 1px solid #00000077;
}
.stepperfield {
  background-color: white;
  padding-left: 10rem;
}
.minus-icon::before,
.plus-icon::after {
  box-sizing: inherit;
}
.plus {
  position: absolute;
  top: 50%;
  right: 0px;
  border: none;
  padding: 0px;
  background-color: transparent;
}
.plus-icon {
  height: 1.3rem;
  width: 1.5rem;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  border-left: 1.5px solid #c6c6c6;
  color: #8e8e8e;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 0 0 #4a4e69c9;
  border-bottom-right-radius: 3px;
  &:active {
    top: 3px;
    box-shadow: none;
  }
}
.minus {
  position: absolute;
  top: 50%;
  left: 0px;
  border: none;
  padding: 0px;
  background-color: transparent;
}
.minus-icon {
  height: 1.3rem;
  width: 1.5rem;
  padding: 8px;
  position: absolute;
  box-sizing: border-box;

  border-right: 1.5px solid #c6c6c6;
  cursor: pointer;
  color: #8e8e8e;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 0 0 #4a4e69c9;
  border-bottom-left-radius: 3px;
  &:active {
    top: 3px;
    box-shadow: none;
  }
}
.toggle-container {
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px 5px 0px;
  position: relative;
}
.right-toggle {
  text-align: center;
  padding: 0px 5px 0px 5px;
  width: 50%;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 9px;
}
.left-toggle {
  padding: 0px 5px 0px 5px;
  width: 50%;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 9px;
}
.left-toggle.checked {
  background-color: #4a4e69;
  color: white;
  border-radius: 0px 5px 5px 0px;
  padding: 9px;
  transition: 0.5s ease-in;
  animation-duration: 0.7s;
  animation-name: slideout;
}
.right-toggle.checked {
  background-color: #4a4e69;
  color: white;
  border-radius: 5px 0px 0px 5px;
  padding: 9px;
  transition: 0.5s ease-out;
  animation-duration: 0.7s;
  animation-name: slidein;
}
@keyframes slideout {
  from {
    margin-right: 30%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}
@keyframes slidein {
  from {
    margin-left: 30%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}
/* end of create quiz */

/* instructor and students navbar */

.navbar {
  display: flex;
  flex-direction: row;
  color: #4a4e69;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: white;
}
.links a {
  float: left;
  color: #4a4e69;
  font-size: small;
  text-decoration: none;
  text-align: center;
  padding: 0px 10px 0px 10px;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.links img {
  width: 150px;
  padding: 5px 10px 0px 5px;
}

.sign-out {
  display: flex;
  float: right;
  margin-right: 8px;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  margin-top: -10px;
}
.sign-out a {
  color: #4a4e69;
  font-size: small;
}

.links .active {
  background-color: #c9ada7;
  border-radius: 20px 20px 0px 0px;
  color: white;
  transition: background-color 1s ease-in;
  animation-duration: 1s;
  animation-name: slide;
}
@keyframes slide {
  from {
    padding-top: 6%;
    width: auto;
  }

  to {
    padding: auto;
    width: auto;
  }
}

.links a:hover,
.sign-out:hover {
  border-radius: 20px 20px 0px 0px;
  background-color: #c9ada76b;
  transition: background-color 0.3s ease-in;
}
.links a:hover:first-child {
  background-color: transparent;
}
/* end of instructor and student navbar */

/* materials page */
.course-title,
.course-content {
  background-color: #4a4e69;
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  width: 400px;
  height: 60px;
  border: 3px solid white;
  font-weight: normal;
  font-size: small;
  padding: 5px;
  /* box-shadow:0px 0px 9px #00000077; */
}

.course-content {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 300px;
  /* margin-left:6px; */
}
.top-materials {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* upload section components for materials page */

.upload-container {
  box-shadow: 2px 3px 5px #00000077;
  margin-right: auto;
}
.upload-button {
  background-color: #4a4e69;
  color: white;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 7px;
  font-size: small;
  margin-left: auto;
  margin-right: 20px;
}

.cloud-icon {
  padding-top: 0.6em;
}
/* .upload-button {
  margin-left: auto;
  margin-right: 10rem;
} */
.materials table {
  /* margin-top: 100px; */
  align-self: center;
  margin: auto;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  font-weight: 300;
}
.materials .course-content-table {
  margin-top: 5rem;
  width: 95%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.materials .course-content-table .td {
  border-bottom: 5px solid white;
  background-color: #f2e9e4d4;
  transition: 0.5s;
  font-weight: normal;
  color: #4a4e69;
}

.materials tr {
  border: none;
  padding: 20px;
  margin-bottom: 10px;
}

thead th {
  padding: 10px;
  font-weight: normal;
  color: #22223b;
}

.materials td {
  background: #f2e9e4;
  border: none;
  padding: 20px 6px;
  border-bottom: 1px solid #0000007c;
}

.materials {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

details {
  border-radius: 4px;
  padding: 0.5em 2em 0;
  cursor: pointer;
}

details button {
  background: #606584;
  color: white;
  padding: 0.75em 1.6em;
  font-size: small;
  border: none;
  margin: 0.5rem 0 0 1rem;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #8e8e8e;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
    transition: transform 0.5s;
  }
}

.materials .action-item {
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(3px);
    transition: transform 0.5s;
  }
}

details .summary-container {
  animation-name: slideToRight;
  animation-duration: 1s;
}

@keyframes slideToRight {
  from {
    padding-left: 7%;
    width: auto;
  }
  to {
    padding-right: auto;
    width: auto;
  }
}

details .volume-icon {
  transform: scale(0.95);
  transition: transform 0.5s;
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  &:hover {
    transform: scale(1);
    transform: translateY(3px);
    transition: transform 0.5s;
  }
}

details .tooltip-container {
  position: relative;
}

details .tooltip-container .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #333;
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-top: 5px;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
  font-style: italic;
}

details .tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

summary {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em 2em 0;
}

/* end of materials page */
/* Quiz Generation page */
.courses-table {
  margin-top: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses-table td {
  background-color: #f2e9e4;
  border: none;
  padding: 20px;
  border-bottom: 1px solid #0000007c;
}
.courses-table tr {
  border: none;
  padding: 20px;
}
.courses-table table {
  margin-top: 100px;
  align-self: center;
  margin: auto;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  text-align: left;
  letter-spacing: 1px;
  border-collapse: collapse;
  font-weight: lighter;
}

/* end of Quiz Generation page */

/* quizzes page */
.top-quizzes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 5em;
  gap: 60px;
}
.quizzes-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.quizzes-container h1 {
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.course-quiz-container {
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 0px 5px #8e8e8e;
  align-self: center;
  display: flex;
  flex-direction: column;
  color: #4a4e69;
  background-color: #f2e9e4;
  text-align: center;
  width: 60rem;
}
.course-quiz-container h2 {
  cursor: pointer;
}

.generate-button {
  background-color: #4a4e69;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10rem;
  margin-top: 2.5rem;
  font-size: small;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.generate-button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
  font-size: medium;
}
.generate-button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.generate-button:hover:after {
  opacity: 1;
  right: 10px;
}

/* .generate-button-2 {
  background-color: #4a4e69;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: auto;
} */
.quiz-item {
  text-align: center;
  font-weight: bold;
  color: #4a4e69;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #c3c3c3;
  /* padding: 20px; */
  position: relative;
  flex-basis: 23.3333%;
  width: 15rem;
  padding-bottom: 70px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  margin-left: 20px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(5px);
    transition: transform 0.5s;
  }
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 3px;
  float: left;
  height: 150px;
  margin-left: 30px;
}
.quiz-name {
  font-size: larger;
  list-style: none;
  border-bottom: 1px dotted #ccc;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}
.spiral-1 {
  position: absolute;
  border-top: 20px solid #f2e9e4;
  width: 10%;
  top: -2px;
  z-index: 2;
  left: 20%;
  border-radius: 50px;
  box-shadow: 0px 2px 2px #c6c6c6;
}
.spiral-2 {
  position: absolute;
  border-top: 20px solid #f2e9e4;
  width: 10%;
  top: -2px;
  z-index: 2;
  left: 44%;
  border-bottom-right-radius: 50px;
  border-radius: 50px;
  box-shadow: 1px 2px 2px #c6c6c6;
}
.spiral-3 {
  position: absolute;
  border-top: 20px solid #f2e9e4;
  width: 10%;
  top: -2px;
  z-index: 2;
  left: 67%;
  border-radius: 50px;
  box-shadow: 1px 2px 2px #c6c6c6;
}
.information {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #4a4e69;
  width: 44px;
  height: 40px;
  padding-top: 12px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 10px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    width: 100%;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    border-top-right-radius: 50px;
    height: 70%;

    .info-icon {
      opacity: 0;
      bottom: 0px;
      left: 0px;
    }
    .contents {
      opacity: 1;
      transform: scale(1);
      transform: translateY(0);
    }
  }
  .contents {
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
    color: white;
  }
}
.contents p {
  font-weight: lighter;
  font-size: 13px;
}

.contents span {
  font-size: 10px;
}
.contents span:hover {
  text-decoration: underline;
  transition: opacity 0.2s, transform 0.8s;
  transform: scale(0.5);
  transform: translateY(-200%);
}
.underlined {
  display: inline;
  position: relative;
  overflow: hidden;
  color: #4a4e69;
  margin: auto;
  padding-bottom: 16px;
  padding-top: 5px;
}
.underlined:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 8px;
  background: #4a4e69;
  height: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underlined:hover:after,
.underlined:focus:after,
.underlined:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
/* end of quizzes page */

/* signin page */
.auth-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/* end of signin page */
