/* nonuser home page */
.homepage-logo {
  display: flex;
  background-color: white;
}
.homepage-logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}
.homepage-logo p {
  letter-spacing: 3px;
  color: #4a4e69;
  margin-top: 60px;
  margin-right: 40px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  cursor: pointer;
  &:hover {
    transform: translateY(5px);
    transition: transform 0.5s;
  }
}
.nonuser-navbar p {
  letter-spacing: 3px;
  color: #4a4e69;
  padding: 0 10px 0 10px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  cursor: pointer;
  &:hover {
    transform: translateY(1px);
    transition: transform 0.5s;
  }
}
.nonuser-navbar {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 55px;
  border-bottom: 1px solid #8a8787be;
  border-top: 1px solid #8a87877c;
  background-color: white;
}
.body {
  background-image: url("frontend/src/assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.body-title {
  margin: auto;
  margin-top: 15rem;
  text-align: center;
  color: #22223bfa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-title p:first-child {
  background-color: rgba(255, 255, 255, 0.945);
  border: 2.5px solid black;
  width: 15rem;
  padding: 10px 20px 10px;
  text-shadow: 3px 2px 3px #8d8d8d7c;
  letter-spacing: 3px;
  text-align: center;
  align-self: center;
}
.body-title p:last-child {
  letter-spacing: 1px;
  font-weight: 200;
  margin-top: 27px;
  width: 30rem;
}
.body button {
  width: 9rem;
  background-color: #4a4e69;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 20rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.356);
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.372);
    transform: translateY(5px);
    transition: transform 0.5s;
  }
}

.features h1 {
  text-align: center;
  color: #4a4e69;
  padding-top: 150px;
  letter-spacing: 9px;
  padding-bottom: 30px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card p {
  font-weight: lighter;
  line-height: 25px;
  color: #22223b;
}
.card h3 {
  color: #4a4e69;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 0px;
}
.card {
  /* flex-basis: 33.33333%; */
  border-radius: 3px;
  border: 1px solid #9d9a9a;
  text-align: left;
  width: 26rem;
  padding: 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.356);
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  overflow: hidden;
  &:hover {
    transform: scale(1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.372);
    transform: translateY(5px);
    transition: transform 0.5s;
  }
}
.card img {
  width: 24rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  font-weight: 100;
  font-size: 15px;
  text-align: center;
  margin-top: 10rem;
}
/* end of nonuser home page */
